<!DOCTYPE html>

<html lang="ro">


<head>
    <%- include("../Fragmente/head.ejs") %>

    <meta name="keywords" content="Tastaturi, Tastaturi mecanice, Tastaturi wireless, 
    Tastaturi ergonomice,Lubrifiere tastaturi, Tastaturi București, Retur gratuit, 
    Livrare la domiciliu, Retur gratuit. Keycaps, Artizane pentru tastaturi, Switch-uri, 
    Key cap puller, Bluetooth tastaturi, Tastaturi cu fir, Tastaturi personalizate, 
    Accesorii pentru tastaturi, Suporturi pentru tastaturi, Tastaturi RGB, 
    Tastaturi compacte, Tastaturi de gaming, Tastaturi profesionale, Tastaturi cu iluminare, Tastaturi de birou, Tastaturi pentru laptop, Tastaturi multimedia, Tastaturi cu touchpad, Tastaturi de calitate, Tastaturi rezistente, Tastaturi de buget, Tastaturi premium, Tastaturi de lux, Tastaturi portabile, Tastaturi compacte, Tastaturi cu taste mecanice, Tastaturi pentru programatori, Tastaturi pentru editori, Tastaturi pentru scriitori, Tastaturi pentru design grafic, Tastaturi pentru gaming de e-sport, Tastaturi pentru utilizatori profesionisti, Tastaturi pentru entuziaști, Tastaturi pentru colecționari, Tastaturi cu switch-uri Cherry MX, Tastaturi cu switch-uri Kailh, Tastaturi cu switch-uri Gateron, Tastaturi cu switch-uri Romer-G, Tastaturi cu switch-uri Alps, Tastaturi compacte 60%, Tastaturi TKL (Tenkeyless), Tastaturi full-size, Tastaturi cu taste macro, Tastaturi cu taste multimedia, Tastaturi cu taste programabile, Tastaturi cu anti-ghosting, Tastaturi cu N-key rollover, Tastaturi cu key rollover, Tastaturi cu backlit, Tastaturi cu iluminare RGB, Tastaturi cu iluminare personalizată, Tastaturi cu profile de iluminare, Tastaturi cu iluminare pe taste ">

    <meta name="description" content="Magazin Holoboard. Fie că ești un gamer pasionat sau un profesionist în căutare de performanță și confort, găsești aici tastatura perfectă pentru tine. Livrare rapidă și retur gratuit!">
    <title>Holoboard</title>

</head>

<body>

    <p id="watermark"></p>
</body>


<body>
   
    <%- include("../Fragmente/header.ejs") %>

    <main>
        <div id="grid-pagina">
            <section id="bun-venit">
                <h2>Bine ați venit la Holoboard!</h2>
                <p class="intro">Vă mulțumim că ați vizitat site-ul nostru dedicat tastaturilor. Luați cu voi niște <b>tastaturi</b> virtuale. Bucurați-vă!</p>
                <div class="intro-oferte">
                    <div>Tastaturi mecanice</div>
                    <div>Seturi de taste</div>
                    <div>Switch-uri</div>
                    <div>Accesorii</div>
                </div>
                <p class="anunt intro">Vă puteți îmbunătăți experiența de tastare atât la biroul nostru, cât și acasă, cu ajutorul serviciului nostru de livrare prin curier pentru toate produsele de tastaturi.</p>
                <div id="dv-prezentare-1">
                    <div id="dv-prezentare">
                        <figure>
                            <picture>
                                <source srcset="./resurse/imagini/keyboard.png" media="(max-width:700px)"/>
                                <source srcset="./resurse/imagini/keyboard2.jpg" media="(max-width:1200px)"/>
                                <img src="resurse/imagini/keyboard3.jpg" alt="Tastatură Mecanică" title="Tastaturi Mecanice" class="imagine"/>
                            </picture>
                            <figcaption>Tastaturi Mecanice</figcaption>
                        </figure>
                    </div>
                </div>
            </section>
    
            <section id="promotii">
                <h2>Promoții</h2>
                
            </section>
    
            <section id="produse">
                <h2>Produsele Noastre</h2>
                
            </section>
    
            <figure id="fig1" class="fg-img">
                <img src="resurse/imagini/tastatura1.jpg" alt="Tastatură 1">
                <figcaption>Tastatură 1</figcaption>
            </figure>
    
            <figure id="fig2" class="fg-img">
                <img src="resurse/imagini/tastatura2.jpg" alt="Tastatură 2">
                <figcaption>Tastatură 2</figcaption>
            </figure>
    
            <figure id="fig3" class="fg-img">
                <img src="resurse/imagini/tastatura3.jpg" alt="Tastatură 3">
                <figcaption>Tastatură 3</figcaption>
            </figure>
    
            <section id="anunturi">
                <h2>Anunțuri</h2>
                
            </section>
    
            <section id="orar">
                    <h2>Orar</h2>
                    <table id="tab-orar">
                        <thead>
    
                            <tr>
                                <th>Cod</th>
                                <th>Perioadă</th>
                                <th>Zi</th>
                                <th>Interval dimineata</th>
                                <th>Pauza de masa</th>
                                <th>Interval seară</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td rowspan="5">Zile<br/>Lucrătoare</td>
                                <td>Luni</td>
                                <td>10-12</td>
                                <td>12-14</td>
                                <td>14-20</td>
                            </tr>
                            <tr>
                                <td></td>
                                
                                <td>Marti</td>
                                <td>9-12</td>
                                <td>12-14</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td></td>
                                
                                <td>Miercuri</td>
                                <td>9-11</td>
                                <td>11-13</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td></td>
                                
                                <td>Joi</td>
                                <td>9-11</td>
                                <td>11-13</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td></td>
                                
                                <td>Vineri</td>
                                <td>9-12</td>
                                <td>12-14</td>
                                <td>14-19</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td rowspan="2">Weekend</td>
                                <td>Sambata</td>
                                <td>10-12</td>
                                <td>12-13</td>
                                <td>13-16</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Duminica</td>
                                <td>10-14</td>
                                <td>-</td>
                                <td>inchis</td>
                            </tr>
                        </tbody>
                        <tfoot><tr><td colspan="6">Închis cu ocazia sărbătorilor legale sau când ne e mai lene așa.</td></tr></tfoot>
                    </table>
                    
                </section>
            </section>
        </div>
    
        <section id="intrebari">
            <h2>Intrebari frecvente</h2>
            <details>
                <summary>Produsele sunt noi?</summary>
                Da, toate produsele sunt noi și sigilate.
                </details>
                <details>
                <summary>Care sunt modalitățile de plată acceptate?</summary>
                Acceptăm plata cu cardul, transfer bancar și numerar la livrare.
                </details>
                <details>
                <summary>Care sunt termenii și condițiile de retur?</summary>
                Aveți dreptul la returnarea produselor în termen de 14 zile calendaristice de la primirea acestora, conform legislației în vigoare.
                </details>
                <details>
                <summary>Cum pot verifica starea comenzii mele?</summary>
                Puteți verifica starea comenzii accesând contul dvs. de pe site-ul nostru sau contactându-ne direct prin telefon sau e-mail.
                </details>
                <details>
                <summary>Oferta specială: Tastatura mecanică RGB la preț redus!</summary>
                Achiziționați acum tastatura mecanică RGB la un preț redus de doar 199 lei! Oferta valabilă în limita stocului disponibil.
                </details>
                <a href="#">Mergi sus</a>
        </section>

        <div class="table-container">
            <table id="stilizare-tabel">
                <caption>Tabel cu oferte</caption>
                <thead>
                    <tr>
                        <th>Nr. crt</th>
                        <th>Produs</th>
                        <th>Preț</th>
                        <th>Disponibilitate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Keyboard</td>
                        <td>200 RON</td>
                        <td rowspan="2">În stoc</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Mouse</td>
                        <td>100 RON</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Headphones</td>
                        <td>150 RON</td>
                        <td>Stoc epuizat</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Monitor</td>
                        <td>500 RON</td>
                        <td>În stoc</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Total:</td>
                        <td colspan="2">950 RON</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="iframe">
          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pyyhsgIjlJI?si=QE5JKBTHikebj0yd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="taburi-iframe">
              <a
                class="black"
                href="https://www.youtube.com/embed/2JHpcPHMdPg?si=ddYu2nN1ayQ0HSgu"
                target="ifr-video"
                >Video 1</a
              >
              <a
                class="black"
                href="https://www.youtube.com/embed/DsDi4x1LErQ?si=B6WiF7irju2mY5q9"
                target="ifr-video"
                >Video 2</a
              >
              <a
                class="black"
                href="https://www.youtube.com/embed/IpQ6PxBWK_Y?si=PpxhbtkYn_QkKMDE"
                target="ifr-video"
                >Video 3</a
              >
            </div>
          </div>

    </main>
    
    



</body>

</html>
