/* Stiluri pentru galerie */
#grid-galerie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

#grid-galerie figure {
  position: relative;
  overflow: hidden;
}

#grid-galerie img {
  width: 100%;
  height: auto;
  transition: filter 0.8s ease;
}

#grid-galerie figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#grid-galerie figure:hover img {
  filter: sepia(0%);
}

#grid-galerie figure:hover figcaption {
  opacity: 1;
}
