#link-top {
  position: fixed;
  bottom: 0.3em;
  opacity: 0.5;
  left: 0.3em;
  width: 3rem;
  box-sizing: border-box;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-left: 5px solid grey;
  border-right: 5px solid grey;
  border-radius: 50%;
  transition: opacity 400ms, border-color 400ms; 
}

#link-top:hover {
  opacity: 1;
  border-color: rgb(147, 43, 176); 
}

#triunghi {
  height: 0px;
  width: 0;
  display: inline-block;
  border-bottom: 1rem solid grey;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  vertical-align: top;
  transform: translateY(90%);
  transition: border-bottom 400ms, transform 500ms;
}

#triunghi:hover {
  border-bottom: 1rem solid rgb(147, 43, 176);
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  transform: translateY(20%);
}

#tab-orar th,
#tab-orar td {
  border: 3px solid black;
}

#tab-orar {
  border-spacing: 0px;
  border-collapse: collapse;
}

#tab-orar th:nth-child(2n + 1) {
  background-color: plum;
}