/* Grid Layout Styling */
#grid-pagina {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  grid-template-areas:
    "welcome welcome welcome"
    "utilizatori date-server date "
    "calendar tabel tabel " 
    "anunturi tabel tabel"
    "diverse diverse diverse";
} 

#grid-pagina > * {
  outline: 2px solid skyblue;
  margin: 3px;
}

#prezentare {
  grid-area: welcome;
}
#tabel {
  grid-area: tabel;
}
#anunturi {
  grid-area: anunturi;
}
#calendar {
  grid-area: calendar;
}

#utilizatori {
  grid-area: utilizatori;
}
#date {
  grid-area: date;
}
#diverse {
  grid-area: diverse;
}
#date-server {
  grid-area: date-server;
}
#intrebari {
  grid-area: index-intrebari;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
  #grid-pagina {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
  #grid-pagina {
    display: block;
  }
}


#link-top {
  position: fixed;
  bottom: 0.3em;
  opacity: 0.5;
  right: 0.3em;
  width: 3rem;
  box-sizing: border-box;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-left: 5px solid grey;
  border-right: 5px solid grey;
  border-radius: 50%;
  transition: opacity 400ms, border-color 400ms; 
}

#link-top:hover {
  opacity: 1;
  border-color: rgb(147, 43, 176); 
}

#triunghi {
  height: 0px;
  width: 0;
  display: inline-block;
  border-bottom: 1rem solid grey;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  vertical-align: top;
  transform: translateY(90%);
  transition: border-bottom 400ms, transform 500ms;
}

#triunghi:hover {
  border-bottom: 1rem solid rgb(147, 43, 176);
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  transform: translateY(20%);
}

#tab-orar th,
#tab-orar td {
  border: 3px solid black;
}

#tab-orar {
  border-spacing: 0px;
  border-collapse: collapse;
}

#tab-orar th:nth-child(2n + 1) {
  background-color: plum;
}

#watermark,#absolut{
  display:none;
}


#grid-pagina {
  display: block;
  font-size: 20px;
  box-sizing: border-box;
  page-break-before: always;
  background-color: white;
}

.black {
  text-decoration: none;
}

@media print {
  #absolut {
    display: block;
    position: absolute;
    width: 70%;
    left: 15%;
    bottom: 0;
    padding: 10px; 
    border: 4px inset black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
  }
  
  #absolut::after {
    content: "Acesta este un proiect È™colar!";
    font-size: 10px;
    font-weight: bold;
  }

  h1 {
    text-align: center;
  }


  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin-bottom: 5px; 
  }

 
  nav {
    page-break-after: always;
  }

  
  footer {
    page-break-before: always;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  #grid-pagina {
    display: block;
  }
#watermark::after{
  opacity:0.4;
  padding:5px;
  width: 2cm; 
  height:0.5cm;
  display: block;
  background: white;
  font-weight: bold;
  border:3px solid black;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  content:"Mitica Bogdan-Denis";
}


  #watermark
		{
			display: block;
			position: fixed;
			bottom:0;
			color:black;
			right:0;
		}
    
		#watermark::after{
			
			opacity:0.4;
			padding:5px;
      width: 4cm;
      height:1cm;
			display: block;
			background: white;
      font-weight: bold;
			border:3px solid black;
			border-top-left-radius:5px;
			border-bottom-left-radius:5px;
      border-top-right-radius:5px;
			border-bottom-right-radius:5px;
			content:"Mitica Bogdan-Denis";
		}

  #end {
    page-break-before: always;
  }

  img, video, iframe, audio, figcaption, a[id="link-top"] {
    display: none;
  }


  @page {
    size: A4 portrait;
    margin-top: 2cm;
    margin-bottom: 2cm;
  }

  @page:left {
    margin-left: 3cm;
    margin-right: 1cm;
  }

  @page:right {
    margin-left: 1cm;
    margin-right: 3cm;
  }
}

.Titlu {
  font-size: 5em;
  color: rgb(93, 57, 200);
  font-weight: bold;
  text-align: center;
  font-family: 'Georgia', Times, serif;
  margin: 0;
  padding: 0;
}

hr {
  height: 10px; /* Adjust the height as needed */
  transform: skewX(60deg);
  background: linear-gradient(
    to right, 
    #007bff 0%,  /* Solid blue at the beginning (0%) with sharp edge */
    #007bff 20%, 
    white 10%,
    white 20%, /* Solid blue until 20% (slightly shorter) */
    transparent,
    #007bff 50%,  /* Blue gradient starts at 50% */
    #007bff 70% /* Transparent section to fade out the blue (70%) */
  );
}

#text-container {
  position: relative;
}

#text {
  position: relative;
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

#text-reflectat {
  position: absolute;
  left: 0;
  top: 100%;
  transform-origin: 0 0;
  transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px, -25px);
  border-radius: 50%;
  mask-image: repeating-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 1) 10%,
    rgba(0, 0, 0, 0) 20%,
    rgba(255, 255, 255, 1) 30%,
    rgba(0, 0, 0, 0) 40%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 0, 0, 0) 60%,
    rgba(255, 255, 255, 1) 70%,
    rgba(0, 0, 0, 0) 80%,
    rgba(255, 255, 255, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-size: 100% 200%; /* You can experiment with this value */
  overflow: hidden;
}

@keyframes ripple {
  0% {
    mask-position: 0 100%; /* Start at bottom */
  }
  100% {
    mask-position: 0 20px; /* Move to 20px from the top */
  }
}


#text-reflectat:hover {
  animation: ripple 10s linear infinite;
}

.duotone-image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.duotone-image-container::before,
.duotone-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
}

.duotone-image-container::before {
  background: linear-gradient(to right, blue, blue);
  mix-blend-mode: screen;
}

.duotone-image-container::after {
  background: linear-gradient(to right, red, red);
  mix-blend-mode: screen;
}

.duotone-image-container:hover::before {
  animation: revealBlueFilterFromLeft 1s forwards;
}

.duotone-image-container:hover::after {
  animation: revealRedFilterFromRight 1s forwards;
}

.duotone-image-container:not(:hover)::before {
  animation: hideDuotoneToLeft 1s forwards;
}

.duotone-image-container:not(:hover)::after {
  animation: hideDuotoneToRight 1s forwards;
}

@keyframes revealBlueFilterFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes revealRedFilterFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes hideDuotoneToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes hideDuotoneToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

