html {

  font-size: 18px;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: font-size 0.5s ease;
}
.info-oferte {
  font-size: 1.5rem;
}

.imagine {
  width: 100%;
}

#grid-pagina {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  grid-template-areas:
    "welcome welcome welcome"
    "utilizatori date-server date "
    "calendar tabel tabel " 
    "anunturi tabel tabel"
    "diverse diverse diverse"
    ;
} 

#grid-pagina > * {
  outline: 2px solid skyblue;
  margin: 3px;
}

#prezentare {
  grid-area: welcome;
}
#tabel {
  grid-area: tabel;
}
#anunturi {
  grid-area: anunturi;
}
#calendar {
  grid-area: calendar;
}

#utilizatori {
  grid-area: utilizatori;
}
#date {
  grid-area: date;
}
#diverse {
  grid-area: diverse;
}
#date-server {
  grid-area: date-server;
}
#intrebari {
  grid-area: index-intrebari;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
  #grid-pagina {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
  #grid-pagina {
    display: block;
  }
}
