#grid-pagina {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  grid-template-areas:
      "prezentare prezentare prezentare prezentare"
      "calendar anunturi anunturi tabel"
      "utilizatori utilizatori date-server date-server"
      "date date date-server date-server"
      "diverse diverse diverse diverse";/*date-server date utilizatori */
}

/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  font-size: 18px;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: font-size 0.5s ease;
}

.info-oferte {
  font-size: 1.5rem;
}

.imagine {
  width: 100%;
}

/* Grid Areas */
#prezentare {
  grid-area: prezentare;
}

#calendar {
  grid-area: calendar;
}

#tabel {
  grid-area: tabel;
}

#anunturi {
  grid-area: anunturi;
}

#utilizatori {
  grid-area: utilizatori;
}

#diverse {
  grid-area: diverse;
}

#date-server {
  grid-area: date-server;
}

#date{
  grid-area: date;
}


@media screen and (max-width: 1000px) and (min-width: 700px) {
  html {
    font-size: 18px;
    font-style: 7em;
  }
  #grid-pagina {
    gap: 6px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "prezentare prezentare prezentare" 
    "calendar tabel tabel" 
    "utilizatori date date" 
    "anunturi date-server date-server"
    "diverse diverse diverse";
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 16px;
    font-style: 4em;
  }
  #grid-pagina {
    display: block;
  }
}

/* Stilizări pentru fiecare secțiune */
#prezentare {
  grid-area: prezentare;
  width: calc(100% - 20px); 
  margin-right: 20px; 
}



/* La dimensiuni medii */


/*---------Taburi Iframe----------*/

.container-iframe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.taburi-iframe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.taburi-iframe a + a {
  margin-left: 152px;
}
.taburi-iframe a{
  display: block;
  border : 2px solid purple;
  background-color: pink;
  margin-bottom: 0.4em;
  padding: 0.6em;
  width: fit-content;
  transition: box-shadow 0.3s ease-in-out; 
  box-shadow: INSET 0px 0px 10px rgba(0, 0, 0, 0.6); 
}

.taburi-iframe a:hover {
  box-shadow: INSET 0px 0px 10px rgba(255, 255, 255, 0.6); 
}
.taburi-iframe a{
  display: block;
  border : 2px solid purple;
  background-color: pink;
  margin-bottom: 0.4em;
  padding: 0.6em;
  width: fit-content;
  transition: box-shadow 0.3s ease-in-out; 
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  box-shadow: inset 0px +10px 20px rgba(0, 0, 0, 0.6); 
}

.taburi-iframe a:hover {
  box-shadow: inset 0px -10px 20px rgba(255, 255, 255, 0.6); 
}

/*---------Tabel Orar----------*/

 
 #tab-orar {
  width: 100%;
  border-spacing: 3px;
  border-collapse: collapse;
}

#tab-orar th {
  border: 3px solid #be4cbc;
}

#tab-orar td {
  border: 1px solid #692b68;
  cursor: pointer;
  background-color: none;
  transition: all 0, 75s linear;
  text-align: center;
}

#tab-orar tbody tr:nth-child(even) {
  box-shadow: 2px 2px 2px 2px #a200dd;
  font-size: 100%;
}

#tab-orar tbody tr:nth-child(odd) {
  box-shadow: 2px 2px 2px 2px #be4cbc;
}

#tab-orar tr:nth-child(even):hover,
#tab-orar tr:nth-child(odd):hover {
  background-color: #f3c3f9;
  font-size: 120%;
}
