#grid-pagina {
  display: grid;
  grid-template-areas:
      "prezentare prezentare prezentare "
      "tabel calendar  anunturi"
      "online online  statistici"
      "diverse diverse  statistici"
      "diverse diverse  diverse";
      
}

/* La dimensiuni medii */
@media (max-width: 1024px) {
  #grid-pagina {
      grid-template-areas:
          "prezentare prezentare prezentare"
          "tabel tabel tabel"
          "calendar calendar calendar"
          "anunturi online statistici"
          "diverse diverse diverse";
  }
}

/* La dimensiuni mici */
@media (max-width: 768px) {
  #grid-pagina {
      grid-template-areas:
          "prezentare"
          "tabel"
          "calendar"
          "anunturi"
          "online"
          "statistici"
          "diverse";
  }
}

/* Stilizări pentru fiecare secțiune */
#prezentare {
  grid-area: prezentare;
  width: calc(100% - 20px); 
  margin-right: 20px; 
}

#promotii {
    grid-area: calendar;
}

#produse {
    grid-area: tabel;
}

#anunturi {
    grid-area: anunturi;
}

#orar {
    grid-area: online;
}

#intrebari {
    grid-area: statistici;
}

.table-container {
    grid-area: diverse;
}

#grid-pagina {
  display: block;
  font-size: 20px;
  box-sizing: border-box;
  page-break-before: always;
  background-color: #f2f2f2;
}

/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  font-size: 18px;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: font-size 0.5s ease;
}

.info-oferte {
  font-size: 1.5rem;
}

.imagine {
  width: 100%;
}

/* Grid Layout */
#grid-pagina {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  /*grid-template-rows: auto auto auto auto auto;*/ 
  grid-gap: 10px;
}

#grid-pagina > * {
  outline: 2px solid #531064;
  margin: 3px;
}

/* Grid Areas */
#prezentare {
  grid-column: 1 / span 3;
  grid-row: 1;
}

#utilizatori {
  grid-column: 1;
  grid-row: 2;
}

#date-server {
  grid-column: 2;
  grid-row: 2;
}

#date {
  grid-column: 3;
  grid-row: 2;
}

#calendar {
  grid-column: 1;
  grid-row: 3;
}

#tabel {
  grid-column: 2 / span 2;
  grid-row: 3;
}

#anunturi {
  grid-column: 1 / span 3;
  grid-row: 4;
}

#diverse {
  grid-column: 1 / span 3;
  grid-row: 5;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
  #grid-pagina {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

/*---------Taburi Iframe----------*/

.container-iframe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.taburi-iframe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.taburi-iframe a + a {
  margin-left: 163px;
}
.taburi-iframe a{
  display: block;
  border : 2px solid purple;
  background-color: pink;
  margin-bottom: 0.4em;
  padding: 0.6em;
  width: fit-content;
  transition: box-shadow 0.3s ease-in-out; 
  box-shadow: INSET 0px 0px 10px rgba(0, 0, 0, 0.6); 
}

.taburi-iframe a:hover {
  box-shadow: INSET 0px 0px 10px rgba(255, 255, 255, 0.6); 
}
.taburi-iframe a{
  display: block;
  border : 2px solid purple;
  background-color: pink;
  margin-bottom: 0.4em;
  padding: 0.6em;
  width: fit-content;
  transition: box-shadow 0.3s ease-in-out; 
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  box-shadow: inset 0px +10px 20px rgba(0, 0, 0, 0.6); 
}

.taburi-iframe a:hover {
  box-shadow: inset 0px -10px 20px rgba(255, 255, 255, 0.6); 
}

/*---------Tabel Orar----------*/

#tab-orar th,
#tab-orar td {
  border: 3px solid #be4cbc;
}

#tab-orar {
  border-spacing: 0px;
  border-collapse: collapse;
}

#tab-orar th:nth-child(2n + 1) {
  background-color: plum;
}