/* Global styles */
body {
    --culoare1: #531064; 
    --culoare2: #ff29fb;
    --spatiere: 10px; 
    padding-left: var(--spatiere);
    padding-right: var(--spatiere);
}
p {
    color: var(--culoare1); 
}
h2 {
    border: 2px solid var(--culoare1); 
}
* {
    margin: 0;
    padding: 0;
}

/* Table styles */
.table-container {
    max-width: 100%;
    overflow-x: auto;
}
#stilizare-tabel {
    border-collapse: collapse;
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: 60px;
}
#stilizare-tabel caption {
    font-weight: bold;
    margin-bottom: 10px;
}
#stilizare-tabel th,
#stilizare-tabel td {
    border: 1px solid #121212;
    padding: 8px;
}
#stilizare-tabel th {
    font-size: 16px;
    background-color: #be4cbc;
    border-bottom-width: 2px;
}
#stilizare-tabel tbody tr:nth-child(odd) {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
#stilizare-tabel tbody tr:nth-child(even) {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}
#stilizare-tabel tfoot td {
    background-color: #be4cbc;
    font-weight: bold;
    text-align: right;
}

/* Font and general styling */
html {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    font-family: "EB Garamond", serif;
}
math {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
mi {
    font-style: italic;
    color: blue;
}
mo {
    font-weight: bold;
    color: green;
}
msup {
    font-weight: bold;
    font-style: italic;
    color: red;
}
p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

/* Link styles and effects */
:root {
    --link-visited-color: #8200ae; 
    --external-link-hover-color: #121212;
    --link-hover-background-color: #87CEFA;
}



  
  a[href^=http]:not(.black)::before {
    content: "⮳";
    font-size: 150%;
    margin-right: 0.2em;
  }
  
  a[href^=http]:not(.black):hover::before {
    color: #8200ae;
  }
  
  .special-link {
    position: relative;
  }
  
  .special-link:visited {
    color: #8200ae;
  }
  
  .special-link:hover {
    background-image: radial-gradient(ellipse, #62b8da 0%, #62b8da 40%, transparent 80%, transparent 100%);
    background-size: 0% 0%;
    background-position: center;
    transition: 700ms ease;
    background-size: 100% 100%;
  }
  
  .special-link:active {
    border: 1px solid #000000;
  }


/* Video caption styling video::cue {
    background-image: linear-gradient(to bottom, #333333, #666666);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: block;
    max-width: 100%;
    white-space: pre-wrap;
    line-height: 1.6;
} */

.yellow-box {
    display: inline-block;
    background-color: yellow;
    padding: 5px;
    border: 1px solid black;
  }
  

#accordion {
    max-width: 500px;
    margin: 0 auto; 
}

.imag-produs {
    max-width: 500px; 
    margin: 0 auto; 
}
