<header>
    <h1>Holoboard</h1>
    <p>Magazin de tastaturi</p>
</header>
   
   <nav>
        <label id="hamburger" for="ch-menu">
            <img src="Resurse/Imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li>
                <div id="acasa">
                    <i class="fa fa-home"></i> 
                    <span class="acasa-text">Acasa</span> 
                </div>
                <div id="acasa-mediu">
                    <span class="fa fa-home"></span> 
                </div>
                <ul>
                    <li><a href="/index#welcome">Bine ati venit</a></li>
                    <li><a href="/index#promotii">Promotii</a></li>
                    <li><a href="/index#anunturi">Anunturi</a></li>
                    <li><a href="/index#produse">Oferta</a></li>
                    <li><a href="/index#orar">Orar</a></li>
                    <li><a href="/index#index-intrebari">Întrebări</a></li>
                    <li><a href="/index#retete">Rețete</a></li>
                </ul>
            </li>
              
            <li><a href="#">Inregistrare</a></li>
            <li><div>Despre</div>
                <ul>                        
                    <li><a href="/despre#prezentare">Prezentare</a></li>
                    <li><a href="/despre#istoric">Istoric</a></li>
                    <li><a href="/despre#motivatie">Motivatie</a></li>
                    <li><a href="/despre#galerie">Galerie</a></li>
                </ul>
            </li>
            <li><div>Produse</div>
                <ul>
                    <li><a href="/produse?tip=cofetarie">cofetarie</a></li>
                    <li><a href="/produse?tip=gelaterie">gelaterie</a></li>
                    <li><a href="/produse?tip=patiserie">patiserie</a></li>
                    <li><a href="http://www.google.com">Toate</a></li>
                    <li><a href="#">Tastaturi</a></li>
                    <li><a href="#">Keycaps</a></li>
                    <li><a href="#">Artizane</a></li>
                </ul>
            
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    