<header>
    <h1>Holoboard</h1>
    <p>Magazin de tastaturi</p>
</header>
   
   <nav>
        <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li>
                <div id="acasa">
                    <i class="fa fa-home"></i> 
                    <span class="acasa-text">Acasa</span> 
                </div>
                <div id="acasa-mediu">
                    <span class="fa fa-home"></span> 
                </div>
                <ul>
                    <li><a href="#welcome">Bine ati venit</a></li>
                    <li><a href="#promotii">Promotii</a></li>
                    <li><a href="#anunturi">Anunturi</a></li>
                    <li><a href="#produse">Oferta</a></li>
                    <li><a href="#orar">Orar</a></li>
                    <li><a href="#index-intrebari">Întrebări</a></li>
                    <li><a href="#retete">Rețete</a></li>
                </ul>
            </li>
              
            <li><a href="#">Inregistrare</a></li>
            <li><div>Despre</div>
                <ul>                        
                    <li><a href="despre.html#prezentare">Prezentare</a></li>
                    <li><a href="despre.html#istoric">Istoric</a></li>
                    <li><a href="despre.html#motivatie">Motivatie</a></li>
                    <li><a href="despre.html#galerie">Galerie</a></li>
                </ul>
            </li>
            <li><div>Produse</div>
                <ul>
                    <li><a href="http://www.google.com">Toate</a></li>
                    <li><a href="#">Tastaturi</a></li>
                    <li><a href="#">Keycaps</a></li>
                    <li><a href="#">Artizane</a></li>
                </ul>
            
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    