<header>
    <header>
        <p class="Titlu">Holoboard</p>
    </header>
    
    <div class="switch-toggle switch-3 switch-candy">
        <input class="light-button" id="on" name="theme" type="radio" checked />
        <label for="on">✺</label>
    
        <input class="blue-button" id="na" name="theme" type="radio" />
        <label for="na">🔵</label>
    
        <input class="dark-button" id="off" name="theme" type="radio" />
        <label for="off">☽</label>
    
        <a></a>
    </div>
    
      
</header>
   
   <nav>
        <label id="hamburger" for="ch-menu">
            <img src="Resurse/Imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li>
                <div id="acasa">
                    <i class="fa fa-home"></i> 
                    <span class="acasa-text">Acasa</span> 
                </div>
                <div id="acasa-mediu">
                    <span class="fa fa-home"></span> 
                </div>
                <ul>
                    <li><a href="/index#welcome">Bine ati venit</a></li>
                    <li><a href="/index#promotii">Promotii</a></li>
                    <li><a href="/index#anunturi">Anunturi</a></li>
                    <li><a href="/index#produse">Oferta</a></li>
                    <li><a href="/index#orar">Orar</a></li>
                    <li><a href="/index#index-intrebari">Întrebări</a></li>
                    <li><a href="/index#retete">Rețete</a></li>
                </ul>
            </li>
             <li><a href = "/inregistrare">Înregistrare</a></li>
            <li><div>Despre</div>
                <ul>                        
                    <li><a href="/despre#prezentare">Prezentare</a></li>
                    <li><a href="/despre#istoric">Istoric</a></li>
                    <li><a href="/despre#motivatie">Motivatie</a></li>
                    <li><a href="/despre#galerie">Galerie</a></li>
                </ul>
            </li>
            <li><div>Produse</div>
                <ul>

                        <li><a href="/produse?tip=100">Tastaturi 100%</a></li>
                        <li><a href="/produse?tip=80">Tastaturi 80%</a></li>
                        <li><a href="/produse?tip=60">Tastaturi 60%</a></li>
                        <li><a href="/produse?tip=toate">Toate</a></li>

                </ul>
            
            </li>
            <li><a href="/cos-virtual">Cos</a></li>
            <li><a href="/contact">Contact</a></li>
            <%-include("../Fragmente/submeniu-administrare") %> 
            <%-include("../Fragmente/submeniu-utilizator-logat") %>
        </ul>
    </nav>
    